<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="https://www.ros.org/wiki/xacro">

  <xacro:macro name="cobot_gazebo">

    <gazebo>
      <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(find gz_ros2_control_demos)/config/ackermann_drive_controller.yaml</parameters>
      </plugin>
    </gazebo>

  </xacro:macro>
</robot>