<?xml version="1.0" encoding="UTF-8"?>
<robot name="cobot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find cobot_description)/urdf/cobot.description.xacro" />
  <xacro:include filename="$(find cobot_description)/urdf/cobot.ros2_control.xacro" />

  <xacro:arg name="simulation" default="false" />
  <xacro:arg name="use_real_hardware" default="false" />

  <xacro:cobot_description simulation="$(arg simulation)" />
  <xacro:cobot_ros2_control use_real_hardware="$(arg use_real_hardware)" />

</robot>
