<?xml version="1.0"?>
<robot name="cobot" xmlns:xacro="https://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find cobot_description)/urdf/cobot.description.xacro" />
  <xacro:include filename="$(find cobot_description)/urdf/cobot.ros2_control.xacro" />

  <xacro:cobot_description />
  <xacro:cobot_ros2_control name="cobot_ros2_control" />

</robot>
